<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Rishita's BlogApp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/post"
                >Sample Post</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/blogs/create"
                >Create Post</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">Add Post</div>

            <div class="panel-body">
              <form class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      placeholder="Title"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <textarea
                      name="content"
                      class="form-control"
                      cols="30"
                      rows="10"
                      placeholder="Content"
                    ></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  <i class="fa fa-btn fa-user"></i> Publish
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
