<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %> <%- include('./partials/header.ejs') %>
    <div class="cont">
      <h1>Write Something New</h1>

      <form>
        <label>
          <input id="fname" type="text" placeholder="Title" />
          <span>Title</span>
        </label>

        <label>
          <input type="text" placeholder="Snippet" />
          <span>Snippet</span>
        </label>

        <label>
          <input type="text" placeholder="Body" />
          <span>Body</span>
        </label>

        <input type="submit" value="Submit" />
      </form>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
